body{
  background-color: black;
  color: white;
}

.textField{
  align-items: center;
  padding: 10px 10px;
  font-size: 25px;
  font-family: Arial;
  position:absolute;
}
.textField2{
  color: rgb(165, 165, 165);
}

.textFieldContainer{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
  height: 60px;
  margin: 50px 20% 0px 20%;
  border:2px solid orange;
}

.buttonsContainer{
  display: grid;
  justify-items: center;
  align-items: center;
  column-gap: 1px;
  width: 60%;
  height: 400px;

  grid-template-columns: 30fr 30fr 30fr 30fr;
  margin: 16px 20%;

}

.button{
  align-items: center;
  border-radius: 50%;
  border-style: none;
  width: 60px;
  height: 60px;
  font-size: 25px;
  font-family: Arial;
  background-color: rgb(51, 51, 51);
  color: white;
  cursor: pointer;
}

.button:hover{
  background-color: rgb(73, 73, 73);
}

.button:active{
  background-color: rgb(44, 44, 44);
}

.operations{
  background-color: orange;
}
.operations:hover{
  background-color: rgb(255, 189, 67);
}
.operations:active{
  background-color: rgb(204, 150, 51);
}

.clear{
  font-size: 17px;
}
